@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #fff;
  background: url('img/mountain.jpg');
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-size: 8rem;
  line-height: 1;
  margin: 1rem 3rem;
}

.digit {
  text-align: center;
}

.digit span {
  font-size: 1.24rem;
}

.credit-container {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  bottom: 1rem;
}

.credit-container span {
  margin: 1rem 2rem;
  font-size: 0.8rem;
}

.credit-container a {
  color: #fff;
}

@media (max-width: 1000px) {
  .big-text {
    font-size: 5rem;
  }
}
